@font-face {
    font-family: "game";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
  }
  
  *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
}

/* Navigation bar */

#nav_bar{
    background-color: black;
    color: brown;
    height: 10vh;
    top: 0;
    right: 0;
    left: 0;
    transition: all 1s ease;
    position: fixed;
    z-index: 50;
}

#nav_bar.hidden{
    top: -150px;
}

#nav_bar.sticky{
    top: 0;
    z-index: 10;
}

/* Sign in box */

.sign_in-box{
    width: 300px;
    padding: 30px;
}

/* 1) Card - Hover animation */

.card{
    position: relative;
    width: 320px;
    height: 420px;
    background-color: rgb(37, 33, 33);
    border-radius: 20px;
    overflow: hidden;
}

.card::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before{
    transform: skewY(390deg);
    top: -70%;
}

.card::after{
    content: 'Eddie';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 500;
    font-size: 125px;
    color: burlywood;
    opacity: 0.1;
}

.card .img_box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
}

.card .img_box img{
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .img_box img{
    max-width: 50%;/* Important hover transition to squeeze the other elements to be visible */
}

.card .content_box{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card .content_box h3{
    font-size: 18px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .content_box .price{
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .content_box .buy_now-button{
    position: relative;/* Important to hide the "buy-now-botton" */
    text-decoration: none;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.card .content_box .buy_now-button:hover{
    background: rgb(95, 183, 218);
}

/* 3) Fade in card - Scroll card. */

.fade_card-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-33 {
    width: 33%;
  }
  
  .fade-in {
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(100%);
    font-size: 1em;
  }
  
  .fade-in.scrolled {
    opacity: 1;
    transform: translateY(0);
    font-size: 2em;
  }
  
  .fade_card {
    text-align: center;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    margin: 25px;
    padding: 25px;
    min-height: 205px;
  }


/* 2) Pepsi - Card and image hover effect. Responsive. */

.pepsi_card{
    position: absolute;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.pepsi_card .pepsi_circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.pepsi_card .pepsi_circle::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.pepsi_card:hover .pepsi_circle:before{
    background: #0065c3;
    clip-path: circle(400px at center);
}

.pepsi_card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: auto;
    pointer-events: none;
    transition: 0.5s;
}

.pepsi_card:hover img{
    left: 72%;
    height: 500px;
}

.pepsi_card .pepsi_content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.pepsi_card:hover .pepsi_content{
    left: 0;
    visibility: visible;
    opacity: 1;
}

.pepsi_card .pepsi_content h2{
    color: white;
}

/* Snake */

canvas {
    background-color: #181825;
  }
  .snake_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  #ui {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-flow: column;
    margin-left: 10px;
  }
  h2 {
    font-weight: 200;
    transform: rotate(270deg);
  }
  #score {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
  }
  .noselect {
    user-select: none;
  }
  #replay {
    font-size: 10px;
    padding: 10px 20px;
    background: #6e7888;
    border: none;
    color: #222738;
    border-radius: 20px;
    font-weight: 800;
    transform: rotate(270deg);
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #replay:hover {
    background: #a6aab5;
    background: #4cffd7;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #replay svg {
    margin-right: 8px;
  }
  @media (max-width: 600px) {
    #replay {
      margin-bottom: 20px;
    }
    #replay,
    h2 {
      transform: rotate(0deg);
    }
    #ui {
      flex-flow: row wrap;
      margin-bottom: 20px;
    }
    #score {
      margin-top: 0;
      margin-left: 20px;
    }
    .snake_container {
      flex-flow: column wrap;
    }
  }
  #author {
    width: 100%;
    bottom: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: inherit;
    text-transform: uppercase;
    padding-left: 35px;
  }
  #author span {
    font-size: 10px;
    margin-left: 20px;
    color: inherit;
    letter-spacing: 4px;
  }
  #author h1 {
    font-size: 25px;
  }
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  

  /* 3) SoMe icons hover effect */

  .some{
      position: relative;
      display: flex;
  }

  .some li a{
      position: relative;
      display: inline-block;
      width: 120px;
      height:120px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
      border-radius: 10px;
      margin: 20px;
      font-size: 70px;
      transform-style: preserve-3d;
      perspective: 500px;
      box-shadow: 0 25px 35px rgba(0, 0, 0,0.1);
      transition: background 0.25s;
  }

  .some li::before{
      content: attr(data-text);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,calc(-50% + 120px));
      font-size: 14vw;
      pointer-events: none;
      font-weight: 700;
      transition: 0.3s;
      opacity: 0;
  }

  .some li:hover::before{
      opacity: 0.1;
      transform: translate(-50%,calc(-50% + 150px)) ;
  }

  .some li a:hover.facebook{
      background-color: #1877f2;
  }

  .some li a:hover.youtube{
      background-color: #ff0000;
  }

  .some li a:hover.twitter{
      background-color: #0099ff;
  }

  .some li a:hover.instagram{
      background-color: #ff7345;
  }

  .some li a .fa-brands{
      transition: 0.25s;
      pointer-events: none;
  }

  .some li a:hover .fa-brands{
      color: #fff;
      transform: scale(1.2) /* translateZ(70px) */;
  }

/* 4) Stacked card section */

  section.stacked_card{
      background: #0065c3;
      transition: 0.5s;
  }

  section.stacked_card::before{
      content: '';
      position: relative;
      background: #4cffd7;
      clip-path: circle(250px at center);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.5s;
  }

  .stacked_card-container{
      position: relative;
      width: 1100px;
      height: 400px;
  }

  .stacked_card-container .s_card{
      position: absolute;
      top: calc(50% - 200px);
      width: 300px;
      height: 400px;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg) skew(-20deg, -10deg) scale(0.6);
  }